<div class="flex flex-col gap-8 max-[700px]:gap-3">
  <app-navbar></app-navbar>
  <div
    class="w-full flex flex-col items-center justify-center max-[700px]:px-3"
  >
    <div class="w-full max-w-[1220px]">
      <img
        [src]="imageSrc"
        alt="Img"
        class="w-full h-[540px] object-cover my-8 max-[700px]:my-3 max-[700px]:h-[300px]"
      />
      <p
        class="text-[#0C0C0C] text-[48px] font-semibold py-3 max-[700px]:text-[18px] max-[700px]:text-center"
      >
        EdTechUz
      </p>
      <p
        class="text-[#5C687D] text-[18px] font-medium max-[700px]:text-[12px] max-[700px]:text-center"
      >
        EdTechUz: Empowering Education through Technology for Teachers project
        aims to address the issues related to the limited teacher resources
        available in Uzbek language and the lack of in-service training for
        educational technologies. This project was developed to support STEM
        teacher trainers using Educational Technology tools to provide students
        with an engaging and interactive learning experience. The project is
        guiding teacher trainers through various EdTech instruments, including
        virtual laboratory simulations, interactive presentations using AI, and
        assessment. The project is designed to cover the study of how teachers
        could use EdTech tools within the public-school program. The project
        focuses on tools and content supporting the National Study plan and
        enhancing the existing Science curriculum.
      </p>
      <p
        class="text-[#5C687D] text-[18px] font-medium max-[700px]:text-[12px] max-[700px]:text-center"
      >
        Project encourages teachers to explore new teaching methods that enable
        students to learn and develop the competencies and skills required to
        successful in 21st century. Training will positively impact education,
        including better teaching and learning processes, increased student
        engagement and as a result, improved student performance. During the 1st
        phase of the project a comprehensive guide was created for using
        educational technologies, which includes step-by-step instructions for
        Phet, Nearpod, Kahoot, and AI.
      </p>
      <p
        class="text-[#5C687D] text-[18px] font-medium max-[700px]:text-[12px] max-[700px]:text-center"
      >
        A total of 60 school teachers from urban, suburban, and rural areas
        participated in face-to-face training, while 200 teachers participated
        in a three-day online Edtech mentors training. These mentors are
        providing support to other teachers in their respective schools, with
        each mentor assisting around 30 teachers. The expected outcome is a
        total of 1,800 trained teachers.
      </p>
    </div>
  </div>
</div>
