<div
  style="
    background: radial-gradient(
        178.87% 39.87% at 50% 100%,
        #efeff9 0%,
        #fff 89.14%
      ),
      #fff;
    width: 100%;
  "
  class="!w-full flex flex-col justify-center items-center pb-28 mb-20"
>
  <app-navbar style="width: 100% !important"></app-navbar>
  <div class="w-full flex flex-col items-center justify-center max-w-7xl py-20">
    <p class="text-[#1D1D1D] text-6xl font-bold max-w-[490px] leading-normal">
      EdTechUz
    </p>
    <p class="text-[#5C687D] text-[14px] font-medium">Tashkent, Uzbekistan</p>
    <p class="text-[#5C687D] text-[14px] font-medium">16 august, 2025</p>
  </div>
</div>
