<div class="w-full flex flex-col items-center justify-center">
  <!-- Info Section -->
  <div
    class="hidden max-[700px]:flex max-w-[1220px] w-full min-h-28 bg-[#EFEFF9] justify-around items-center my-10 px-8"
  >
    <ng-container *ngFor="let item of [
      { label: 'Name', value: 'EdTechUz' },
      { label: 'Client', value: 'ITSM' },
      { label: 'Category', value: 'Teachers\' Development Program' }
    ]">
      <div class="flex flex-col items-center gap-2">
        <p class="text-[#646868] text-[14px] font-medium">{{ item.label }}</p>
        <p
          class="text-[#141515] text-[20px] font-medium leading-normal text-center max-w-64"
        >
          {{ item.value }}
        </p>
      </div>
      <div *ngIf="item.label !== 'Category'" class="min-w-[1px] h-[60px] bg-[#C8C7EB]"></div>
    </ng-container>
  </div>

  <!-- Video Section -->
  <div class="w-full max-w-[1220px] px-5 rounded-xl">
    <iframe
      width="100%"
      class="my-10 hidden max-[700px]:block"
      height="650"
      src="https://www.youtube.com/embed/oE919Y9yuWE"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <iframe
      width="100%"
      class="my-10 block max-[700px]:hidden"
      height="350"
      src="https://www.youtube.com/embed/oE919Y9yuWE"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>

  <!-- Text Section -->
  <div class="w-full max-w-[1220px] space-y-4">
    <p
      class="text-[#5C687D] text-[18px] font-medium max-[700px]:text-[12px] max-[700px]:text-center"
    >
      EdTechUz: Empowering Education through Technology for Teachers project
      aims to address the issues related to the limited teacher resources
      available in Uzbek language and the lack of in-service training for
      educational technologies. This project was developed to support STEM
      teacher trainers using Educational Technology tools to provide students
      with an engaging and interactive learning experience...
    </p>

    <p
      class="text-[#5C687D] text-[18px] font-medium max-[700px]:text-[12px] max-[700px]:text-center"
    >
      Project encourages teachers to explore new teaching methods that enable
      students to learn and develop the competencies and skills required to
      successful in 21st century. Training will positively impact education...
    </p>
  </div>

  <app-footer></app-footer>
</div>
